.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Контейнер для центрирования всего контента */
.centered-page {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}